In [ ]:
# 1
a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [ ]:
# 2
class Gizmo:
    def __init__(self):
        print('Gizmo id: %d' % id(self))
x = Gizmo()

Gizmo id: 133131689840832

In [ ]:
y = Gizmo() * 10

Gizmo id: 133131689842128

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [ ]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_2',
 '_3',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [ ]:
 # 3
 charles = {'name' : 'Charles L. Dodgson', 'born' : 1832}
 lewis = charles

In [ ]:
lewis is charles

True

In [ ]:
id(charles), id(lewis)

(133131209334272, 133131209334272)

In [ ]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [ ]:
alex = {'name' : 'Charles L. Dodgson', 'born' : 1832, 'balance' : 950}
alex == charles

True

In [ ]:
alex is charles

False

In [ ]:
# 5
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [ ]:
id(t1[-1])

133130789262336

In [ ]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 133130789262336)

In [ ]:
t1 == t2

False

In [ ]:
# 6
l1 = [3, [66,55,44], (7,8,9)]
l2 = list(l1)

In [ ]:
l1.append(100)

In [ ]:
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [ ]:
l2[1] += [33,22]

In [ ]:
l2[2] += (10,11)

print('l1:, l1')
print('l2:', l2)

l1:, l1
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [ ]:
# 7
class Bus:
  def __init__(self, passengers = []):
    self.passengers = passengers
  def pick(self, name):
    self.passengers.append(name)
  def drop(self, name):
    self.passengers.remove(name)

In [ ]:
# 8
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(133130795611088, 133130795603168, 133130795599952)

In [ ]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [ ]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(133130789561344, 133130789561344, 133130789488320)

In [ ]:
# 9
a = [10,20]
b = [a,30]
a.append(b)
a

[10, 20, [[...], 30]]

In [ ]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [ ]:
# 10
def f(a,b):
  a += b
  return a

In [ ]:
a = [1,2]
b = [3,4]
f(a,b), (a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [ ]:
x = 1
y = 2
f(x,y), (x,y)

(3, (1, 2))

In [ ]:
t = (10,20)
u = (30,40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [ ]:
# 11
class HauntedBus:
  def __init__(self, passengers = []):
    self.passengers = passengers
  def pick(self, name):
    self.passengers.append(name)
  def drop(self, name):
    self.passengers.remove(name)

In [ ]:
# 12
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [ ]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [ ]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [ ]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [ ]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [ ]:
bus2.passengers is bus3.passengers

True

In [ ]:
bus1.passengers

['Bill', 'Charlie']

In [ ]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [ ]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [ ]:
# 13
class TwilightBus:
  def __init__(self, passengers = None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = passengers
  def pick(self, name):
    self.passengers.append(name)
  def drop(self, name):
    self.passengers.remove(name)

In [ ]:
# 14
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [ ]:
# 15
class TwilightBus:
  def __init__(self, passengers = None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)
  def pick(self, name):
    self.passengers.append(name)
  def drop(self, name):
    self.passengers.remove(name)

In [ ]:
# 16
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [1]:
# 17
import weakref
s1 = {1,2,3}
s2 = s1
def bye():
  print('Gone with the wind...')
ender = weakref.finalize(s1, bye)
ender.alive

True

In [ ]:
del s1
ender.alive

True

In [ ]:
s2 = 'spam'

Gone with the wind...

In [ ]:
ender.alive

False