In [1]:
# 예제1
symbols = "$*&!@"

codes = []

for symbol in symbols:
  codes.append(ord(symbol))

print(codes)

[36, 42, 38, 33, 64]

In [2]:
# 예제2
symbols = "$*&!@"

codes = [ord(symbol) for symbol in symbols]

print(codes)

[36, 42, 38, 33, 64]

In [3]:
# 예제3

x = '"!~$$*&!@'
dummy = [ord(x) for x in x]

print(x)
print(dummy)

"!~$$*&!@
[34, 33, 126, 36, 36, 42, 38, 33, 64]

In [4]:
# 예제4

symbols = '"!~$$*&!@'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 32]

print(beyond_ascii)

[34, 33, 126, 36, 36, 42, 38, 33, 64]

In [5]:
# 예제5
symbols = '"!~d$$*&!@'
beyond_ascii = list(filter(lambda c: c>64, map(ord, symbols)))

print(beyond_ascii, '\n')

print(f"Map function:\n>>> {map(ord, symbols)}")
print(f"List after map:\n>>> {list(map(ord, symbols))}")

[126, 100]

Map function:
>>> <map object at 0x0000022EFD754910>
List after map:
>>> [34, 33, 126, 100, 36, 36, 42, 38, 33, 64]

In [6]:
# 예제6
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]

print(tshirts)

for color in colors:
  for size in sizes:
    print((color, size))

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]
('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [9]:
# 예제7
symbols = '!#^&&#'
ord_s = tuple(ord(s) for s in symbols if ord(s))

print(ord_s)

(33, 35, 94, 38, 38, 35)

In [10]:
# 예제7
import array

ord_s = array.array('I', (ord(symbol) for symbol in symbols))

print(ord_s)

array('I', [33, 35, 94, 38, 38, 35])

In [11]:
# 예제8

colors = ['black', 'white']
sizes = ['S', 'M', 'L']

for tshirt in ('{} {}'.format(c, s) for s in sizes for c in colors):
  print(tshirt)

black S
white S
black M
white M
black L
white L

In [12]:
# 예제9
lax_coordinates = {33.9425, -118.408056}
city, year, pop, chg, area = {'Tokyo', 2003, 32450, 0.66, 8014}
travler_ids = [('USA', '31195855'),
                ('BRA', 'CE342567'),
                ('ESP', 'XDA205856')]

for passport in sorted(travler_ids):
  print('%s/%s' %passport)
  print('{}/{}'.format(passport[0],passport[1]))
  print(f'{passport[0]}/{passport[1]}')

BRA/CE342567
BRA/CE342567
BRA/CE342567
ESP/XDA205856
ESP/XDA205856
ESP/XDA205856
USA/31195855
USA/31195855
USA/31195855

In [13]:
# 예제10
for country, _ in travler_ids:
  print(country)

USA
BRA
ESP

In [14]:
# 예제11
lax_coordinates = {33.9425, -118.408056}
latitude, longtitude = lax_coordinates
print(latitude)
print(longtitude)

33.9425
-118.408056

In [15]:
# 예제12
a=10; b=20
b, a = a, b
print(a, b)

20 10

In [16]:
# 예제13
divmod(20, 8)

t= (20, 8)

quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [17]:
# 예제14
import os

_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
filename

'idrsa.pub'

In [18]:
# 예제15
a, b, *rest = range(5)
a, b, rest

a, b, *rest = range(3)
a, b, rest

a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [19]:
# 예제16
a, *body, c, d = range(5)
a, body, c, d

*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

In [20]:
# 예제17
metro_areas = [
    ("Tokyo", "JP", 36.933, (35, 139)),
    ("Delhi NCR", "IN", 21, (28, 77)),
    ("Mexico City", "MX", 20, (19, -99)),
    ("New York-Newark", "US", 20, (40, -74)),
    ("Sao Paulo", "BR", 19, (-23, -46))
]

print("{:15} I {:^9} I {:^9}".format('', 'lat.', 'long.'))
fmt = "{:15} I {:9.4f} I {:9.4f}"

for name, cc, pop, (lat, longi) in metro_areas:
  if longi <= 0:
    print(fmt.format(name, lat, longi))

                I   lat.    I   long.
Mexico City     I   19.0000 I  -99.0000
New York-Newark I   40.0000 I  -74.0000
Sao Paulo       I  -23.0000 I  -46.0000

In [21]:
# 예제18
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo =  City('Tokyo', 'JP', 36.933, (35.689, 139.691))
tokyo
tokyo.population
tokyo.coordinates
tokyo[1]

'JP'

In [22]:
# 예제19
City._fields

LatLong = namedtuple('Latlong', 'latlong')
delhi_data = ("Delhi NCR", "IN", 21, (28, 77))

delhi = City._make(delhi_data)
delhi._asdict()

for key, value in delhi._asdict().items():
  print(key + ':', value)

name: Delhi NCR
country: IN
population: 21
coordinates: (28, 77)

In [24]:
# 예제20
l = [10, 20, 30, 40, 50, 60]
l[:2]

[10, 20]

In [26]:
# 예제21
invoice = """
0.....6..................25.......33......40........
1909  pimoroni              $17.50   3   $52.50           
1489  6mm Tactile           $4.95    2   $9.90
"""

SKU = slice(0,6)
DESCRIPTION = slice(6, 25)
UNIT_PRICE = slice(25, 33)
QUANTITY = slice(33, 40)
ITEM_TOTAL = slice(40, None)

line_items = invoice.split('\n')[2:]

for item in line_items:
  print(item[UNIT_PRICE], item[DESCRIPTION])

   $17.5 pimoroni
   $4.95 6mm Tactile

In [27]:
#예제 22

l = list(range(10))

l[2:5] = [20, 30]

del l[5:7]

l[3::2] = [11, 22]
l

[0, 1, 20, 11, 5, 22, 9]

In [28]:
# 예제23

l[2:5] = 100

TypeError: can only assign an iterable

In [29]:
# 예제24
l[2:5] = [100]
l

[0, 1, 100, 22, 9]

In [30]:
# 예제25
l = [1, 2, 3]
l*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [31]:
# 예제26
board = [['_' ] *3 for i in range(3)]
board

board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [32]:
#예제 27

weird_board = [['_']*3] *3
weird_board

weird_board[1][2] = 'O'
weird_board

[['_', '_', 'O'], ['_', '_', 'O'], ['_', '_', 'O']]

In [33]:
#예제 28
row = ['_'] *3
board = []
for i in range(3):
  board.append(row)

board[1][2] = 'X'

board

[['_', '_', 'X'], ['_', '_', 'X'], ['_', '_', 'X']]

In [34]:
#예제 29
board = []
for i in range(3):
  row = ['_'] *3
  board.append(row)

print(board)

board[2][0] = 'X'

board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

[['_', '_', '_'], ['_', '_', '_'], ['X', '_', '_']]

In [35]:
#예제 30
l = [1, 2, 3]
id(l)

l*= 2
id(l)

2400849846912

In [36]:
#예제 31
t = (1, 2, 3)
id(t)

t*=2
id(t)

2400849813728

In [43]:
#예제 32
t = (1, 2, [30, 40])
print(t)

t[2] += [50, 60]

(1, 2, [30, 40])

TypeError: 'tuple' object does not support item assignment

In [44]:
#예제 33
print(t)

(1, 2, [30, 40, 50, 60])

In [45]:
#예제 34
fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits)

fruits

sorted(fruits, reverse=True)
sorted(fruits, key=len)

['grape', 'apple', 'banana', 'raspberry']

In [46]:
#예제 35
sorted(fruits, key=len, reverse=True)

fruits

fruits.sort()
fruits

['apple', 'banana', 'grape', 'raspberry']

In [47]:
#예제 36
from array import array
from random import random

floats = array('d', (random() for _ in range(10**7)))
floats[-1]

0.39285230908091795

In [48]:
#예제 37
with open('floats.bin', 'wb') as f:
  floats.tofile(f)

floats2 = array('d')

with open('floats.bin', 'rb') as f:
  floats2.fromfile(f, 10**7)

floats == floats2

True

In [49]:
#예제 38
import array
numbers = array.array('h', [-2, -1, 0, 1, 2])
memv = memoryview(numbers)
len(memv)

memv[0]

memv_oct = memv.cast('B')
memv_oct.tolist()

memv_oct[5] = 4
numbers

array('h', [-2, -1, 1024, 1, 2])

In [39]:
#예제 39
import numpy
a = numpy.arange(12)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [50]:
# 예제 40
a.shape

a.shape = 3, 4
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [53]:
# 예제 41
a[2]
a[2, 1]
a[:,1]

array([1, 5, 9])

In [54]:
# 예제 42

a.transpose()

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

In [55]:
# 예제 43

from collections import deque
dq = deque(range(10), maxlen=10)
dq

dq.rotate(3)
dq

dq.rotate(-4)
dq

deque([1, 2, 3, 4, 5, 6, 7, 8, 9, 0], maxlen=10)

In [56]:
# 예제 44
dq.appendleft(-1)
dq

dq.extend([11,22,33])
dq

dq.extendleft([10, 20, 30, 40])
dq

deque([40, 30, 20, 10, 3, 4, 5, 6, 7, 8], maxlen=10)